
<div class="container-fluid about">
<h1 class="title text-center pt-5">About</h1>
<p class="quote text-center">A Node/Express application with a Handlebars view engine using HTML/CSS . Daily Journal allows Users to log their ideas, feelings, stories, and experiences in secure platform where they can log in and log out. The application is simple and responsive to many devices</p>

<p class="author text-center">Application by: Robert Magomero</p>
<p class="author text-center">Version: 1.0.0</p>
</div>


 