<div class="jumbotron jumbotron-fluid text-center">
    <div class="container-fluid">
    <div class="display-12">{{title}}</div>
    <hr>
    <p class="lead">Keep a diary and someday it'll keep you</p>
    <p>-Mae West</p>

  
    </div>

