

<div class="container-fluid about">
<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card card-body pt-5 card-cust">
            <h3 class="text-center title">Account Registration</h3>
            <form action="/users/register" method="POST">
             <div class="form-group">
                <label for="name" class="label">Name</label>
                <input type="name" class="form-control" name="name" value="{{name}}" required>
                
             </div>
            
            <div class="form-group">
                <label for="email" class="label">Email</label>
                <input type="email" class="form-control" name="email" value="{{email}}" required>
                
            </div>

            <div class="form-group">
                <label for="password" class="label">Password</label>
                <input type="password" class="form-control" name="password" value="{{password}}" required>
             
            </div>
            <div class="form-group">
                <label for="password" class="label">Confirm Password</label>
                <input type="password" class="form-control" name="password2" value="{{password2}}" required>
                <br>
                <div class="container text-center">
                <button type="submit" class="btn btn-primary label">Register</button>
                </div>
            </form>
        </div>
    </div>




</div>
</div>